* {
  box-sizing: border-box;
}

body {
    overflow: auto;
    max-width: 1024px;
    min-width: 600px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-size: 16px;
    line-height: 20px;
    font-family: monospace;
    background: rgb(12, 80, 100);
  }

  main {
    display: flex;
    min-height: 70vh;
  }

  header {
    display: flex;
    flex-wrap:nowrap;
    background: rgb(29, 134, 103);
    min-height: 20vh;

    
    align-items: center;
  }

  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  section {
    flex-basis: 50%;
  }

  .about {
    background:rgb(50, 185, 145);
  }


  .description {
    background:rgb(58, 168, 135);
  }


 

  footer {
    background: rgb(29, 134, 103);
    
    min-height: 20vh;
    justify-content: space-around;
    align-items: center;
  }